
@{
    ViewData["Title"] = "Manage Products";
}

<a asp-area="Admin" asp-action="GetAllProducts" asp-controller="Products" class="btn btn-info">Get All Products</a>
<a  asp-area="Admin" asp-action="AddProduct" asp-controller="Products" class="btn btn-success">Add Prodcut</a>

<a asp-area="Admin" asp-action="Edit Product" asp-controller="Products" class="btn btn-warning">Edit Prodcut</a>

<a class="btn btn-danger">Delete Product</a>

